# ----------------------------------------
# Node.js
# ----------------------------------------
node_modules/
.pnp/
.pnp.js

# ----------------------------------------
# Test Coverage
# ----------------------------------------
coverage/

# ----------------------------------------
# Next.js
# ----------------------------------------
.next/
out/

# ----------------------------------------
# Build output
# ----------------------------------------
build/

# ----------------------------------------
# Vercel
# ----------------------------------------
.vercel/

# ----------------------------------------
# Certificates / Keys (sécurité)
# ----------------------------------------
*.pem

# ----------------------------------------
# Archives / Fichiers lourds
*.zip

# ----------------------------------------
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----------------------------------------
# Environnement local
.env
.env*.local

# ----------------------------------------
# macOS
.DS_Store

# ----------------------------------------
# TypeScript
*.tsbuildinfo
next-env.d.ts

# ----------------------------------------
# Arbres ou documents temporaires
tree.txt
